[Unit]
Description=Planification périodique d'IP Monitor

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=ip-monitor.service

[Install]
WantedBy=timers.target
